<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/master.css">
    <meta charset="utf-8">
    <title>Robots</title>
  </head>
  <body>

    <div class="people">
      {{#users}}
      <div class="person">
        <a href="/users/{{_id}}"><img class="images" src="{{avatar}}" alt=""></a>
        <a href="/users/{{_id}}"><h2>{{name}}</h2></a>
        <div class="job-status">
          {{#job}}{{.}}, {{/job}}
          {{^job}}<h3 class="available">Available for hire</h3>{{/job}}
          {{company}}
        </div>
        </div>
        {{/users}}
      </div>

  </body>
</html>
