<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/master.css">
    <meta charset="utf-8">
    <title>Robots</title>
  </head>
  <body>

    <h1>{{title}}</h1>

    <div class="people">

      {{#robots}}
      <div class="person">
        <h5>{{name}}</h5>
        <div class="images">
          <a href="/users/{{id}}"> <img src="{{avatar}}" alt=""></a>
        </div>
        <div class="skills">
          <p>{{skills}}</p>
        </div>
      </div>
      {{/robots}}

    </div>
  </body>
</html>
