.people {
  display: flex;
  flex-wrap: wrap;
}


.person {
  margin: 15px;
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  height: 20em;
  padding: 5px;
  border: 1px solid #afafaf;
}

a {
  /*width: 250px;
  height: 200px;*/
  display: flex;
  justify-content: center;
}

.images {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-basis: 30%;
  flex-shrink: 0;
   min-width: 100%;
   min-height: 100%
}

.skills {
}

h2{
  color: blue;
  padding: 5px 5px 5px 5px;
}

.job-status{
  font-size: 1.2em;
  padding: 5px 5px 15px 15px;
}
