.people {
  display: flex;
  flex-wrap: wrap;
}

.person {
  margin: 15px;
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  height: 20em;
  padding: 5px;
  border: 1px solid #afafaf;
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.images {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-basis: 30%;
  flex-shrink: 0;
   min-width: 100%;
   min-height: 100%;
}

.available {
  color: red;
}

h2 {
  color: blue;
  padding: 5px 5px 5px 5px;
  text-align: left;
}

.job-status {
  font-size: 1.2em;
  padding: 5px 5px 5px 15px;
}

.robotDiv {
  display: flex;
  padding: 30px;
  margin: 50px;
}

.robotInfo{
  font-family: 'Open Sans', sans-serif;
}


.avatars {
  border-radius: 100px;
  border: 2px solid #EBEBEB;
  margin: 20px;
}

.education {
  display: flex;
  justify-content: space-around;

}

.skills {
  display: flex;
}

.university {
  padding: 0 20px;
  margin-top: 5px;
}

#university {
  padding: 0 20px;
}

.skillList {
  margin-top: 5px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  display: inline;
  padding: 0 20px;
}

#skillsList {
  padding: 0 20px;
}

.table-header{
  width: 70px;
  padding: 0 20px;
}

#skillsHeader {
font-weight: bolder;
}
